{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if community %}Editar Comunidade{% else %}Criar Comunidade{% endif %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <h1>{% if community %}Editar Comunidade{% else %}Criar Comunidade{% endif %}</h1>
  </header>

  <main>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Nome da Comunidade:</label>
        <input type="text" id="name" name="name" value="{{ initial_data.name }}" placeholder="Nome da Comunidade" required>
      </div>
      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" placeholder="Descrição da Comunidade" required>{{ initial_data.description }}</textarea>
      </div>
      <button type="submit" class="btn">{% if community %}Salvar Alterações{% else %}Criar Comunidade{% endif %}</button>
    </form>
  </main>
</body>

</html>