{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{{ community.name }}</title>
</head>

<body>
  <header>
    <h1>r/{{ community.name }}</h1>
    <p>{{ community.description }}</p>
  </header>
  <section class="posts">
    <h2>Posts</h2>
    {% for post in posts %}
    <div class="post-single">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
    </div>
    {% empty %}
    <p>Nenhum post nesta comunidade.</p>
    {% endfor %}
  </section>
</body>

</html>