{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Excluir Comunidade</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <h1>Excluir Comunidade</h1>
    <a href="{% url 'aba_comunidade' community.id %}" class="btn">Cancelar</a>
  </header>

  <main>
    <section class="confirmation-section">
      <p>Tem certeza de que deseja excluir a comunidade <b>{{ community.name }}</b>?</p>
      <p>Essa ação não pode ser desfeita.</p>

      <form method="post" action="{% url 'delete_community' community.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
      </form>
    </section>
  </main>
</body>

</html>